[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Coinprofile"]
	path = Coinprofile
	url = https://github.com/wilmermartinezr/coinprofile
